<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Chapel Attendance Choices</title>
    <link href="clean.css" rel="stylesheet" >
	<link href="standard.css" rel="stylesheet" >
	<link href="Chapel.css" rel="stylesheet" >
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="logo"></div>
		</div>
		<div id="content">
    		<div id="react"></div>
    	</div>
    </div>

    <script src="built/bundle.js"></script>

</body>
</html>
